body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--clr-background-L2);
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.calculator-card {
  margin-top: -300px;
  padding: 1rem;
  background-color: var(--clr-background-L2);
  transition: var(--fast-transition);
  width: 700px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.calculator-card p {
  margin-top: 1rem;
  color: var(--clr-text-secondary);
}

.calculator-card h2 {
  margin-bottom: 0.25rem;
}

.calculator-card:hover,
.calculator-card:focus {
  background-color: var(--clr-background-L3);
  transform: scale(1.05);
  
}

/* Media queries */
@media only screen and (max-width: 576px) {
  .calculator-card {
    width: 100%;
    margin-top: 1px
  }
}
/* End Media queries */
